<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Copier Plus</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        body{
            grid-template-columns: none !important;
        }
        
        .title{
            margin: 0;
        }

        .last_message{
            margin: 0;
            font-size: 16px;
            color: gray;
        }

        .chat-container{
            border-bottom: 1px solid gray;
            transition: 0.2s;
        }

        .chat-container:hover{
            background: #3a3a3a;
        }

        .source-destination-chat-container{
            display: flex;
            max-height: 100vh;
        }

        .disabled {
            background: #3a3a3a;
            border: none;
        }

        .disabled:hover{
            background: #3a3a3a !important;
            cursor: not-allowed !important;
        }

        .invisible{
            display: none;
        }


    </style>

</head>
<body>

    <div class="source-destination-chat-container">
        <div id="topic_container" class="invisible">
            <h3>Topic</h3>
            <div id="topic_source_list" style="overflow: scroll; max-height: calc(100% - 150px)"></div>
        </div>
        <div style="width: 40px"></div>
        <div>
            <h3>Source chat</h3>
            <div id="dialogs_source_list" style="overflow: scroll; max-height: calc(100% - 150px)"></div>
        </div>
        <div style="width: 40px"></div>
        <div>
            <h3>Destination chat</h3>
            <div id="dialogs_destination_list" style="overflow: scroll; max-height: calc(100% - 150px)"></div>
        </div>
            <div style="width: 40px"></div>
        <div>
            <h3>Rules</h3>
            <button id="new_rule_button" onclick="addRule()" class="disabled">Add rule</button>
            <div id="rule_list"></div>
        </div>
    </div>



</body>

<script>

    let domSourceList = document.getElementById("dialogs_source_list");
    let domDestinationList = document.getElementById("dialogs_destination_list");

    let sourceSelection = "";
    let destinationSelection = "";
    let sourceTopic = "";

    let dialogList = [];

    fetch('/api/v0/dialog_list')
        .then((response) => response.json())
        .then((data) => {
            console.log(data);
            dialogList = data;
            data.forEach((item, index)=>{
                domSourceList.innerHTML+= `
                    <div class="chat-container" onclick=sourceClicked(${item.id}) id=s${item.id}>
                        <p class="title">${item.name}</p>
                        <p class="last_message">${item.last_message === "" ? "Media" : item.last_message}</p>
                    </div>`

                domDestinationList.innerHTML+= `
                    <div class="chat-container" onclick=destinationClicked(${item.id}) id=d${item.id}>
                        <p class="title">${item.name}</p>
                        <p class="last_message">${item.last_message === "" ? "Media" : item.last_message}</p>
                    </div>`


            });

            getRules();

        });

    function sourceClicked(id){
        clearTopic();
        let chat = document.getElementById("s" + id);

        if (sourceSelection === id) {
            // elemento selezionato, lo deseleziono (toggle)
            sourceSelection = "";
            chat.style.background="transparent";
        } else if (sourceSelection === "") {
            // primo elemento ad essere selezinato
            sourceSelection = id;
            chat.style.background="rgba(0,68,244,0.5)"
        } else {
            // ho selezionato un elemento vecchio e lo deseleziono, mentre seleziono quello nuovo
            let oldChat = document.getElementById("s" + sourceSelection);
            oldChat.style.background="transparent";
            sourceSelection = id;
            chat.style.background="rgba(0,68,244,0.5)"
        }

        checkRule();
        checkTopic();
    }

    function clearTopic(){
        document.getElementById("topic_source_list").innerHTML = ""
        document.getElementById("topic_container").classList.add("invisible");
        sourceTopic = "";
    }

    function destinationClicked(id){
        let chat = document.getElementById("d" + id);

        if (destinationSelection === id) {
            // elemento selezionato, lo deseleziono (toggle)
            destinationSelection = "";
            chat.style.background="transparent";
        } else if (destinationSelection === "") {
            // primo elemento ad essere selezinato
            destinationSelection = id;
            chat.style.background="rgba(0,68,244,0.5)"
        } else {
            // ho selezionato un elemento vecchio e lo deseleziono, mentre seleziono quello nuovo
            let old_chat = document.getElementById("d" + destinationSelection);
            old_chat.style.background="transparent";
            destinationSelection = id;
            chat.style.background="rgba(0,68,244,0.5)"
        }

        checkRule();
    }

    function checkRule(){
        let newRuleButton = document.getElementById("new_rule_button")

        if (sourceSelection !== "" && destinationSelection !== ""){
            // possible new rule
            newRuleButton.classList.remove("disabled")
        } else {
            newRuleButton.classList.add("disabled")
        }
    }

    function checkTopic(){
        if (sourceSelection === ""){
            return
        }

        fetch(`/api/v0/get_topic/${sourceSelection}`)
        .then((response) => response.json())
        .then((data) => {
            console.log(data)
            if (data.has_topics){
                // ha topic, mostriamoli
                console.log(data.topics)
                document.getElementById("topic_container").classList.remove("invisible");
                let topicList = document.getElementById("topic_source_list");
                data.topics.forEach((item, key)=>{
                    topicList.innerHTML+=`<p style="cursor: pointer" onclick=topicClicked(${item.id}) id=${item.id}>${item.title} (${item.id})</p>`
                })
            }


        });
    }

    function topicClicked(id){
        document.getElementById(id).style.background = "rgba(0,68,244,0.5)"

        if (sourceTopic !== ""){
            document.getElementById(sourceTopic).style.background = "transparent"
        }
        sourceTopic = id
    }

    function addRule(){
        if (sourceSelection !== "" && destinationSelection !== ""){

            if (sourceTopic === ""){
                fetch('api/v0/start_forward', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        source_id: sourceSelection,
                        destination_id: destinationSelection
                    }),
                })
                .then(response => response.json())
                .then(data => {console.log(data); getRules();})
                .catch((error) => console.error('Error:', error));
            } else {
                fetch('api/v0/start_topic_forward', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        source_id: sourceSelection,
                        destination_id: destinationSelection,
                        topic_id: sourceTopic
                    }),
                })
                .then(response => response.json())
                .then(data => {console.log(data); getRules();})
                .catch((error) => console.error('Error:', error));
            }

        }

    }

    function getRules(){

        fetch(`/api/v0/list_rules`)
        .then((response) => response.json())
        .then((data) => {
            let ruleList = document.getElementById("rule_list");
            ruleList.innerHTML = "";
            data.forEach((item)=>{
                let destinationName = "";
                let sourceName = "";
                console.log(item);
                console.log(item.destination_id)
                dialogList.forEach((dialog) =>{
                    if (dialog.id === item.destination_id){
                        console.log(dialog.name)
                        destinationName = dialog.name;
                    }
                    if (dialog.id === item.source_id){
                        sourceName = dialog.name;
                    }
                });


                if (item.hasOwnProperty("topic_id")){
                    ruleList.innerHTML += `<p>${sourceName} (${item.topic_id}) -> ${destinationName}<button onclick="removeRule(${item.source_id}, ${item.destination_id}, ${item.topic_id})">Delete</button></p>`

                } else {
                    ruleList.innerHTML += `<p>${sourceName} -> ${destinationName}<button onclick="removeRule(${item.source_id}, ${item.destination_id})">Delete</button></p>`
                }
            })

        });
    }

    function removeRule(source_id, destination_id, topic_id=""){
        fetch('api/v0/stop_forward', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                source_id: source_id,
                destination_id: destination_id,
                topic_id: topic_id
            }),
        })
        .then(response => response.json())
        .then(data => {console.log(data); getRules();})
        .catch((error) => console.error('Error:', error));


    }

</script>
</html>